<?php

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__)
    ->exclude(['bootstrap', 'storage', 'vendor'])
    ->name('*.php')
    ->name('_ide_helper')
    ->notName('*.blade.php')
    ->ignoreDotFiles(true)
    ->ignoreVCS(true);

return PhpCsFixer\Config::create()
    ->setRules([
        '@PSR2' => true,
        'full_opening_tag' => false,
        'single_quote' => true,
        'not_operator_with_successor_space' => true,
        'explicit_string_variable' => true,
        'concat_space' => ['spacing' => 'one'],
    ])
    ->setFinder($finder);
