:root { /*https://uigradients.com/#Flare*/
    --header-height: 3rem;
    --primary-color: #f5af19;
    --secondary-color: #f12711;
}

@media (min-width: 768px){
    :root {
        --header-height: 3.75rem;
    }
}

.btn {
    @apply font-bold py-3 px-5;
}
